[V2] Make sure the name field only contains the unreserved characters in RFC3986

In 15-OCT-2020 Core WG meeting, we decided to use only unreserved characters in the name field according to RFC3986.

https://en.wikipedia.org/wiki/Percent-encoding

This tag might help:
https://pkg.go.dev/github.com/go-playground/validator/v10#hdr-URL_Encoded

> This validates that a string value is percent-encoded (URL encoded) according to https://tools.ietf.org/html/rfc3986#section-2.1

> This tag might help:
> https://pkg.go.dev/github.com/go-playground/validator/v10#hdr-URL_Encoded
> 
> > This validates that a string value is percent-encoded (URL encoded) according to https://tools.ietf.org/html/rfc3986#section-2.1

@weichou1229 thanks for the information.  Unfortunately, ulr_encoded tag is used to validate if a string is url-encoded or not, which is a little bit different to what we would like to validate.  I'll implement a custom tag to validate that name field only allows  RFC3986 section 2.3 defined unreserved characters, which should be `ALPHA / DIGIT / "-" / "." / "_" / "~"`.